fabric_cicd.error.*
fabric_cicd.error.log
.cicd/authenticate_spn_platform_independent.py
.cicd/authenticate_spn_direct.py
.env
.venv/
.cicd/clean_json.py
.vscode/*
.vscode/launch.json


*Zone.Identifier

*.json
!fabric_items2/variable_group.VariableLibrary/**/*.json
*.png
*.md
*draw
*.platform
DefaultSemanticModel.txt